# # Ignore everything:
# /*

# # Except these root files:
# !CONTRIBUTING.md
# !LICENSE
# !README.md

# # Except these sources for the www workspace
# !/spaceout/content/**
# !/spaceout/src/**
# !/spaceout/pages/**
# !/spaceout/gatsby*.js

# # Ignore nothing for the theme workspace
# !/gatsby-theme-spaceout
