.typographyHolder {
    display: flex;
    margin-top: 73px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 1050px;
}

.typographyGrid {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    min-height: 250px;
}

.typographyHeadingsHolder {
    margin: 15px;
}

.typographyPrime, .typographySecondary {
    padding: 20px;

}

.typographyPrime p:first-child, .typographySecondary p:first-child {
    font-size: 36px;
}


.typographyPrime p:nth-child(2), .typographySecondary p:nth-child(2) {
    font-size: 22px;
}

.bold {
    font-weight: 900;
}

.light {
    font-weight: 300;
    font-weight: 200;
}