.chartHolder {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 300px;
  margin: auto;
  margin-bottom: 100px;
}

.chartInnerHolder {
  width: 100%;
  height: 100%;
  position: absolute;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2;
}

.chart-control {
  padding: 20px;
  min-width: 50px;
  border-bottom: 1px solid #c93d22;
  transition: 0.7s all cubic-bezier(0.05, 0.7, 0.1, 1);
  color: #c93d22;
}

.chart-control:hover {
  opacity: 0.5;
}

.chart-control:first-child {
  color: #195eec;
  border-color: #195eec;
}

.active {
  font-weight: 700;
  border-width: 2px;
  transition: 0.4s all cubic-bezier(0.05, 0.7, 0.1, 1);
}

.chartGridHolder {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 500px) {
  .chartGridHolder {
    grid-template-columns: 1fr 2fr;
  }
}

.funnel {
  height: 100%;
  display: flex;
  flex-direction: column;
}
